/* Put your css here for your table and page styling */
table {
    border-collapse: collapse;
}
table, th, td {
  border: 1px soild black;
}
th {
  font-weight: bold;
}
thead td {
  background-color: #1B4965;
}
td {
  background-color: #BEE9E8;
}
